* {
  box-sizing: border-box;
  width: 0px;
  height: 0px;
}
body {
  font-family: sans-serif;
  font-weight: 900;
  text-align: center;
}
h1 {
  color: red;
  text-align: right;
  word-spacing: 10px;
}
